@charset "utf-8";
/* CSS Document */

/*================================ body part ================================*/
*{padding:0px; box-sizing:border-box;}
body { margin:0px;  font-family:Arial, Helvetica, sans-serif; background:#fff; color:#545454;font-size:14px;}

.container { margin:0 auto; width:100%; max-width:1000px;}

a, .login-button { transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -ms-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s;}

/*================================ Header part ================================*/
.header { float:left; width:100%; background:#0984ba; padding:18px 0; text-align:center;}

.left-address { float:left; width:30%;}
.left-address p{ float:left; width:100%; color:#fff; margin:0px; text-align:left; line-height:23px;}

.logo { float:none; display:inline-block; margin-top:25px;}

.right-date { float:right; width:30%; margin-top:12px;}
.right-date span { float:right; color:#fff; margin-bottom:5px;}

/*============================================== Section ==============================================*/
.section {float:left; width:100%;}

.map-head { float:left; width:100%; padding:30px 0;}
.map-head h2 { float:left; width:100%; text-align:center;  font-weight:normal; font-size:25px; color:#242424; margin:0 0 30px 0;}
.map-head h2 b { text-transform:uppercase; font-weight:normal;}

.map-img { float:left; width:67%;}
.map-img > img { float:left; width:100%; height:auto;}

.map-detail-listing { float:right; width:32%;}
.content { background:#fff; box-sizing: border-box; height: 345px; max-width: 100%; overflow: auto; position: relative; width: 100%; border:1px solid #bfbfbf;}

.hotel-map-on-list { float:left; width:100%; margin:0px;}
.hotel-map-on-list li { float:left; width:100%; padding:5px 0px; list-style:none; border-bottom:1px solid #e0e0e0;}

.ip-map-on-list { float:left; width:100%; margin:0px;}
.ip-map-on-list li { float:left; width:100%; padding:5px 0px; list-style:none; border-bottom:1px solid #e0e0e0;}

.hotel-map-on-list li ul { float:left; width:100%; margin:0px;}
.hotel-map-on-list li ul li { float:left; width:auto; margin:0px 3px; border-bottom:none;}
.hotel-map-on-list li ul li > img { float:left; width:auto; margin-right:4px;}
.hotel-map-on-list li ul li p { float:left; width:auto; margin:2px 0 0 0;}

.ip-map-on-list li ul { float:left; width:100%; margin:0px;}
.ip-map-on-list li ul li { float:left; width:auto; margin:0px 3px; border-bottom:none;}
.ip-map-on-list li ul li > img { float:left; width:auto; margin-right:4px;}
.ip-map-on-list li ul li p { float:left; width:auto; margin:2px 0 0 0;}


.hotel-image { float:left; width:38%;}
.hotel-image > img { float:left;}

.mapside-image { float:left; width:25%;}
.mapside-image > img { float:left;}

.mapipside-image { float:left; width:25%; padding:7px 0 0 0;}
.mapipside-image > img { float:left;}
.mapipside-imageh {padding:0 0 0 4px;}

.mappipside-image { float:left; padding:7px 0 0 0;}
.mappipside-image > img { float:left; padding:1px 5px 0 0;}

.hotel-details-list-map { float:left; width:60%;}
.hotel-details-list-map h4 { float:left; width:100%; margin:0px; color:#242424; font-size:14px; font-weight:normal;}
.hotel-details-list-map label { float:left; width:100%; color:#ff9c00; font-size:16px; margin:2px 0px;}
.hotel-details-list-map span { float:left; width:100%; color:#545454; font-size:13px;}

.ip-details-list-map { float:left; width:60%; padding:5px 0;}
.ip-details-list-map h4 { float:left; width:100%; margin:0px; color:#242424; font-size:14px; font-weight:normal;}
.ip-details-list-map lable { float:left; width:100%; color:#0984ba; font-size:22px; margin:2px 0px; font-weight:normal;}
.ip-details-list-map li{border:none;}
/*.ip-details-list-map label { float:left; width:100%; color:#0984ba; font-size:18px; margin:2px 0px;}
.ip-details-list-map span { float:left; width:100%; color:#545454; font-size:13px;}
*/

.ip-details-listip { float:left; width:69%; padding:5px 0;}
.ip-details-listip h4 { float:left; width:100%; margin:0px; color:#242424; font-size:14px; font-weight:normal;}
.ip-details-listip lable { float:left; width:100%; color:#0984ba; font-size:22px; margin:2px 0px; font-weight:normal;}
.ip-details-listip li{border:none;}


.map-detail-left { float:left; width:50%;}
.map-detail-left ul { float:left; width:90%;}
.map-detail-left ul li { float:left; width:100%; list-style:none; border-bottom:1px dotted #a6a6a6; padding:20px 0px 5px 0px;}
.map-detail-left ul li span { float:left; color:#242424; font-size:15px;}
.map-detail-left ul li label { float:right; color:#242424; font-size:15px;}

.map-detail-right { float:right; width:50%;}
.map-detail-right ul { float:right; width:90%;}
.map-detail-right ul li{ float:left; width:100%; list-style:none; border-bottom:1px dotted #a6a6a6; padding:20px 0px 5px 0px;}
.map-detail-right ul li span { float:left; color:#242424; font-size:15px;}
.map-detail-right ul li label { float:right; color:#242424; font-size:15px;}

.map-imgip { float:left; width:70%;}
.map-imgip > img { float:left; width:100%; height:auto;}



.map-detail-rightip { float:right; width:29%;}
.map-detail-rightip ul { float:right; width:90%; position:relative; top:-20px;}
.map-detail-rightip ul li{ float:left; width:100%; list-style:none; padding:5px 0px 5px 0px;}
.map-detail-rightip ul li span { float:left; color:#242424; font-size:15px;}
.map-detail-rightip ul li label { float:left; color:#0984ba; font-size:20px; padding:5px 0px 0px 0px; font-weight:normal;}



.ip-detail-rightip { float:right; width:29%;}
.ip-detail-rightip ul { float:right; width:90%;}
.ip-detail-rightip ul li{ float:left; width:100%; list-style:none; }
.ip-detail-rightip ul li span { float:left; color:#242424; font-size:15px;}
.ip-detail-rightip ul li label { float:left; color:#0984ba; font-size:18px;}



.right-tabelip-rightip { float:right; width:29%;}
.right-tabelip-rightip { float:right; width:90%;}
.right-tabelip-rightip li{ float:left; width:100%; list-style:none; }
.right-tabelip-rightip li span { float:left; color:#242424; font-size:15px;}
.right-tabelip-rightip li label { float:left; color:#555555; font-size:14px; padding:5px 0px;}



.relar-price { float:left; width:100%; background:#f8f8f8; padding:30px 0px;}
.relar-price-head { float:left; width:100%; text-align:center;}
.relar-price-head h2 { float:left; width:100%; text-align:center; font-weight:normal; font-size:25px; color:#0984ba;}
.relar-price-head h2 b { text-transform:uppercase;}

.graph-left { float:left; width:60%; padding-right:15px;}
.graph-left >img { max-width:100%; display:block; height:auto;}

.imgl-left { float:left; width:30%; padding-right:10px; margin-bottom:30px;}
.imgl-left >img { max-width:100%; display:block; height:auto; margin-bottom:10px;}

.graph-detail-right { float:right; width:40%; padding-left:15px; margin-top:83px;}

.imgl-detail-right { float:left; width:35%; padding-left:15px; }


.relar-table{float:left;width:100%; border:1px solid #c9c9c9; background:#f2f2f2;border-bottom:none;}
.relar-table tr th{border-right:1px solid #c9c9c9;text-align:center;padding:10px;font-size:16px;border-bottom:1px solid #c9c9c9;}
.relar-table tr th:nth-child(2), .relar-table tr td:nth-child(2) { background:#fff;}
.relar-table tr th:last-child, .relar-table tr td:last-child { background:#0984ba; color:#fff;}
.relar-table tr:first-child th:first-child{border-top:none;}
.relar-table tr td{padding:10px 20px;font-size:14px;line-height:normal;border-right:1px solid #c9c9c9;text-align:center; border-bottom:1px solid #c9c9c9;}
.relar-table tr:last-child td:first-child{border-bottom:1px solid #c9c9c9;}
.relar-table tr td:first-child{text-align:left;}

.color-table{float:left;width:100%; border:1px solid #c9c9c9; background:#fff;border-bottom:none; margin-bottom:10px;}
.color-table tr th{border-right:1px solid #c9c9c9;text-align:center;padding:10px;font-size:16px;border-bottom:1px solid #c9c9c9;}
.color-table tr th:nth-child(2), .relar-table tr td:nth-child(2) { background:#fff;}
.color-table tr th:last-child, .relar-table tr td:last-child { background:#0984ba; color:#fff;}
.color-table tr:first-child th:first-child{border-top:none;}
.color-table tr td{padding:10px 20px;font-size:14px;line-height:normal;border-right:1px solid #c9c9c9;text-align:center; border-bottom:1px solid #c9c9c9;}
.color-table tr:last-child td:first-child{border-bottom:1px solid #c9c9c9;}
.color-table tr td:first-child{text-align:left;}




.property_information { float:left; width:100%; padding:30px 0px;}
.property-price-head { float:left; width:100%; text-align:center;}
.property-price-head h2 { float:left; width:100%; text-align:center; font-weight:normal; font-size:25px; color:#0984ba; margin:0 0 25px 0;}

.Summary-price-head { float:left; width:100%; text-align:left;}
.Summary-price-head h2 { float:left; width:30%; text-align:left; font-weight:normal; font-size:22px; color:#242424; margin:0 0 0px 0; padding:25px 0 0 0;}


.left-tabel { float:left; width:50%; padding-right:14px;}
.left-tabell { float:left; width:100%; padding-right:14px;}

.left-tabelip { float:left; width:30%; padding:30px 14px 0 0; font-weight:normal;}
.right-tabelip { float:left; width:70%; padding-left:14px;}



.price-table{float:left;width:100%; border:1px solid #bdbdbd;}
.price-table tr:nth-child(even){background:#e0e0e0;}
.price-table tr th{border-right:1px solid #bdbdbd;text-align:center;padding:14px 10px;font-size:14px; text-transform:uppercase;}
.price-table tr:first-child th:first-child{border-top:none;}
.price-table tr td{padding:14px 20px;font-size:14px;line-height:normal;border-right:1px solid #bdbdbd;text-align:center;}
.price-table tr:last-child{background:#e0e0e0;}
.price-table tr:last-child td:first-child{border-bottom:none;}
.price-table tr td:first-child{text-align:left;}

.right-tabel { float:left; width:50%; padding-left:14px;}

.price-tableip{float:left;width:100%; border:1px solid #bdbdbd;}
.price-tableip tr:nth-child(even){background:#e0e0e0;}
.price-tableip tr th{border-right:1px solid #bdbdbd;text-align:center;padding:14px 10px;font-size:14px; text-transform:uppercase;}
.price-tableip tr:first-child th:first-child{border-top:none;}
.price-tableip tr td{padding:14px 0px;font-size:14px;line-height:normal;border-right:1px solid #bdbdbd; text-align:center;}
.price-tableip tr:last-child{background:#fff;}
.price-tableip tr:last-child td:first-child{border-bottom:none;}
.price-tableip tr td:first-child{text-align:center;}
.tablepp{text-align:left;}

.right-tabelipp { float:left; width:50%;}
.left-tabelipp{float:left; width:50%; padding-right:14px;}
.price-tableipp{float:left;width:100%; border:1px solid #bdbdbd;}
.price-tableipp tr:nth-child(even){background:#e0e0e0;}
.price-tableipp tr th{border-right:1px solid #bdbdbd;text-align:center;padding:14px 10px;font-size:14px; text-transform:uppercase;}
.price-tableipp tr:first-child th:first-child{border-top:none;}
.price-tableipp tr td{padding:14px 10px;font-size:14px;line-height:normal;border-right:1px solid #bdbdbd;text-align:center;}
.price-tableipp tr:last-child{background:#e0e0e0;}
.price-tableipp tr:last-child td:first-child{border-bottom:none;}
.price-tableipp tr td:first-child{text-align:left;}