@charset "utf-8";
/* CSS Document */

/*================================ body part ================================*/
*{padding:0px; box-sizing:border-box;}
body { margin:0px;  font-family:Arial, Helvetica, sans-serif; background:#fff; color:#545454;font-size:14px;}

.container { margin:0 auto; width:100%; max-width:1000px;}

a, .login-button { transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -ms-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s;}

/*================================ Header part ================================*/
.header { float:left; width:100%; background:#0984ba; padding:18px 0; text-align:center;}

.left-address { float:left; width:30%;}
.left-address p{ float:left; width:100%; color:#fff; margin:0px; text-align:left; line-height:23px;}

.logo { float:none; display:inline-block; margin-top:25px;}

.right-date { float:right; width:30%; margin-top:12px;}
.right-date span { float:right; color:#fff; margin-bottom:5px;}

/*============================================== Section ==============================================*/
.section {float:left; width:100%;}

.map-head { float:left; width:100%; padding:30px 0;}
.map-head h2 { float:left; width:100%; text-align:center;  font-weight:normal; font-size:25px; color:#242424; margin:0 0 30px 0;}
.map-head h2 b { text-transform:uppercase; font-weight:normal;}

.map-img { float:left; width:67%;}
.map-img > img { float:left; width:100%; height:auto;}

.map-detail-listing { float:right; width:32%;}
.content { background:#fff; box-sizing: border-box; height: 345px; max-width: 100%; overflow: auto; position: relative; width: 100%; border:1px solid #bfbfbf;}

.hotel-map-on-list { float:left; width:100%; margin:0px;}
.hotel-map-on-list li { float:left; width:100%; padding:5px 0px; list-style:none; border-bottom:1px solid #e0e0e0;}

.hotel-map-on-list li ul { float:left; width:100%; margin:0px;}
.hotel-map-on-list li ul li { float:left; width:auto; margin:0px 3px; border-bottom:none;}
.hotel-map-on-list li ul li > img { float:left; width:auto; margin-right:4px;}
.hotel-map-on-list li ul li p { float:left; width:auto; margin:2px 0 0 0;}

.hotel-image { float:left; width:38%;}
.hotel-image > img { float:left;}

.hotel-details-list-map { float:left; width:60%;}
.hotel-details-list-map h4 { float:left; width:100%; margin:0px; color:#242424; font-size:14px; font-weight:normal;}
.hotel-details-list-map label { float:left; width:100%; color:#ff9c00; font-size:16px; margin:2px 0px;}
.hotel-details-list-map span { float:left; width:100%; color:#545454; font-size:13px;}

.map-detail-left { float:left; width:50%;}
.map-detail-left ul { float:left; width:90%;}
.map-detail-left ul li { float:left; width:100%; list-style:none; border-bottom:1px dotted #a6a6a6; padding:20px 0px 5px 0px;}
.map-detail-left ul li span { float:left; color:#242424; font-size:15px;}
.map-detail-left ul li label { float:right; color:#242424; font-size:15px;}

.map-detail-right { float:right; width:50%;}
.map-detail-right ul { float:right; width:90%;}
.map-detail-right ul li{ float:left; width:100%; list-style:none; border-bottom:1px dotted #a6a6a6; padding:20px 0px 5px 0px;}
.map-detail-right ul li span { float:left; color:#242424; font-size:15px;}
.map-detail-right ul li label { float:right; color:#242424; font-size:15px;}

.relar-price { float:left; width:100%; background:#f8f8f8; padding:30px 0px;}
.relar-price-head { float:left; width:100%; text-align:center;}
.relar-price-head h2 { float:left; width:100%; text-align:center; font-weight:normal; font-size:25px; color:#0984ba;}
.relar-price-head h2 b { text-transform:uppercase;}

.graph-left { float:left; width:60%; padding-right:15px;}
.graph-left >img { max-width:100%; display:block; height:auto;}

.graph-detail-right { float:right; width:40%; padding-left:15px; margin-top:83px;}

.relar-table{float:left;width:100%; border:1px solid #c9c9c9; background:#f2f2f2;border-bottom:none;}
.relar-table tr th{border-right:1px solid #c9c9c9;text-align:center;padding:10px;font-size:16px;border-bottom:1px solid #c9c9c9;}
.relar-table tr th:nth-child(2), .relar-table tr td:nth-child(2) { background:#fff;}
.relar-table tr th:last-child, .relar-table tr td:last-child { background:#0984ba; color:#fff;}
.relar-table tr:first-child th:first-child{border-top:none;}
.relar-table tr td{padding:10px 20px;font-size:14px;line-height:normal;border-right:1px solid #c9c9c9;text-align:center; border-bottom:1px solid #c9c9c9;}
.relar-table tr:last-child td:first-child{border-bottom:1px solid #c9c9c9;}
.relar-table tr td:first-child{text-align:left;}

.property_information { float:left; width:100%; padding:30px 0px;}
.property-price-head { float:left; width:100%; text-align:center;}
.property-price-head h2 { float:left; width:100%; text-align:center; font-weight:normal; font-size:25px; color:#0984ba; margin:0 0 25px 0;}

.left-tabel { float:left; width:50%; padding-right:14px;}
.price-table{float:left;width:100%; border:1px solid #bdbdbd;}
.price-table tr:nth-child(even){background:#e0e0e0;}
.price-table tr th{border-right:1px solid #bdbdbd;text-align:center;padding:14px 10px;font-size:16px; text-transform:uppercase;}
.price-table tr:first-child th:first-child{border-top:none;}
.price-table tr td{padding:14px 20px;font-size:14px;line-height:normal;border-right:1px solid #bdbdbd;text-align:center;}
.price-table tr:last-child{background:#fff;}
.price-table tr:last-child td:first-child{border-bottom:none;}
.price-table tr td:first-child{text-align:left;}

.right-tabel { float:left; width:50%; padding-left:14px;}

